Repository alovajs/devtools, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, wormhole, vscode

.github/labeler.yml:

# See https://github.com/actions/labeler

ðŸš¨ action:
  - .github/workflows/**

wormhole:
  - packages/wormhole/**

vscode:
  - packages/vscode-extension/**

chore(wormhole): update dependencies
  package.json
  packages/wormhole/src/bin/cli.ts
  packages/wormhole/tsconfig.json
  packages/wormhole/typings/index.d.ts
  pnpm-lock.yaml
Labels: wormhole

chore(vscode-extension): 更新架构配置
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/project.code-workspace
  .vscode/tasks.json
  package.json
  packages/vscode-extension/.vscode/launch.json
  packages/vscode-extension/.vscode/tasks.json
  packages/vscode-extension/esbuild.ts
  packages/vscode-extension/package.json
  packages/vscode-extension/src/components/apiDocs/apiCodeLen.ts
  packages/vscode-extension/tsconfig.json
  packages/vscode-extension/tsdown.config.ts
  pnpm-lock.yaml
Labels: ðŸš¨ action, vscode

chore(vscode-extension): update 脚本添加 eslint 自动修复
  packages/vscode-extension/package.json
  packages/vscode-extension/src/generated/meta.ts
Labels: vscode

chore(vscode-extension): update workspace settings and tasks for better linting and development
  .husky/pre-commit
  .vscode/launch.json
  .vscode/project.code-workspace
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  packages/vscode-extension/README.md
  packages/vscode-extension/e2e/config.spec.ts
  packages/vscode-extension/package.json
  packages/wormhole/vitest.config.mts
  pnpm-lock.yaml
Labels: wormhole, vscode

chore(project): use npm-run-all2
  package.json
  packages/wormhole/package.json
  pnpm-lock.yaml
Labels: wormhole

chore(workflow): update PR workflow to include E2E tests
  .github/workflows/pr.yml
Labels: ðŸš¨ action

chore(vscode-extension): add e2e tests for alova.create.config command
  packages/vscode-extension/test/e2e/config.spec.ts
Labels: vscode

chore(package): update test and lint scripts for improved coverage and clarity
  package.json
Labels: none

chore(vscode-extension): refactor E2E testing setup and update scripts for improved test execution
  package.json
  packages/vscode-extension/.vscode-test.mjs
  packages/vscode-extension/package.json
  packages/vscode-extension/test/e2e/index.ts
  packages/vscode-extension/test/e2e/runner.ts
  packages/vscode-extension/test/e2e/suite/config.test.ts
  packages/vscode-extension/test/e2e/suite/index.ts
  packages/vscode-extension/test/e2e/tsconfig.json
  pnpm-lock.yaml
Labels: vscode

chore(package): update e2e test script to include build step for improved execution
  package.json
Labels: none

chore: update .gitignore and package.json files for improved test structure and output paths
  .gitignore
  eslint.config.mjs
  package.json
  packages/vscode-extension/package.json
  packages/vscode-extension/test/e2e/index.ts
  packages/vscode-extension/test/e2e/tsconfig.json
  packages/wormhole/test/cli.spec.ts
  test/api-common/alova.config.js
  test/api-common/alova.config.ts
  test/api-common/package.json
  test/api-js-commonjs-test/package.json
  test/api-js-test/package.json
  test/api-ts-test/package.json
  test/api-ts-test/tsconfig.json
  test/api-v3-js-commonjs-test/package.json
  test/api-v3-js-test/package.json
  test/api-v3-ts-test/package.json
  test/api-v3-ts-test/tsconfig.json
Labels: wormhole, vscode

chore(vscode-extension): remove unused mockCreateConfig setup in config tests
  packages/vscode-extension/test/e2e/suite/config.test.ts
Labels: vscode

chore(package): fix regex in unit test scripts to correctly exclude e2e tests
  package.json
Labels: none

chore(project): update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

test(vitest): remove excluds
  vitest.config.mts
Labels: none

chore(pnpm-lock): update pnpm-lock
  pnpm-lock.yaml
Labels: none

feat(vscode-sidebar): 基础实现webview通信
  .vscode/settings.json
  packages/vscode-extension/package.json
  packages/vscode-extension/src/components/apiDocs/apiServer.ts
  packages/vscode-extension/src/handlers/index.ts
  packages/vscode-extension/src/webview/view-provider-abstract.ts
  packages/vscode-extension/src/webview/view-provider-sidebar.ts
  packages/vscode-extension/tsdown.config.ts
  packages/vscode-sidebar/cypress/e2e/basic.spec.ts
  packages/vscode-sidebar/cypress/screenshots/basic.spec.ts/Basic -- basic nav (failed).png
  packages/vscode-sidebar/cypress/screenshots/basic.spec.ts/Basic -- markdown (failed).png
  packages/vscode-sidebar/index.html
  packages/vscode-sidebar/package.json
  packages/vscode-sidebar/src/App.vue
  packages/vscode-sidebar/src/auto-imports.d.ts
  packages/vscode-sidebar/src/components.d.ts
  packages/vscode-sidebar/src/components/ApiTree.vue
  packages/vscode-sidebar/src/components/TheFooter.vue
  packages/vscode-sidebar/src/layouts/home.vue
  packages/vscode-sidebar/src/main.ts
  packages/vscode-sidebar/src/modules/nprogress.ts
  packages/vscode-sidebar/src/modules/route.ts
  packages/vscode-sidebar/src/pages/index.vue
  packages/vscode-sidebar/src/pages/sidebar.vue
  packages/vscode-sidebar/src/stores/route.ts
  packages/vscode-sidebar/src/styles/main.css
  packages/vscode-sidebar/src/typed-router.d.ts
  packages/vscode-sidebar/src/types.ts
  packages/vscode-sidebar/src/utils/join-webview-uri.ts
  packages/vscode-sidebar/tsconfig.json
  packages/vscode-sidebar/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  uno.config.ts
Labels: vscode

chore(pnpm-lock): update pnpm-lock.yaml
  pnpm-lock.yaml
  test/api-v3-ts-test/.vscode/settings.json
Labels: none

feat(alova-extension): 更新应用文件
  .vscode/settings.json
  .vscode/tasks.json
  eslint.config.mjs
  packages/vscode-extension/package.json
  packages/vscode-extension/src/core/Global.ts
  packages/vscode-extension/src/core/Setup.ts
  packages/vscode-extension/src/extension.ts
  packages/vscode-extension/src/meta/generated.ts
  packages/vscode-extension/src/meta/index.ts
  packages/vscode-extension/src/utils/Log.ts
  packages/vscode-extension/src/webview/view-provider-sidebar.ts
  packages/vscode-extension/tsdown.config.ts
  packages/vscode-sidebar/package.json
  packages/vscode-sidebar/src/App.vue
  packages/vscode-sidebar/src/auto-imports.d.ts
  packages/vscode-sidebar/src/main.ts
  packages/vscode-sidebar/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  uno.config.ts
Labels: vscode

feat(vscode-sidebar): 切换至 vite-ssg 构建并更新全局 API 与消息处理
  packages/vscode-sidebar/package.json
  packages/vscode-sidebar/src/auto-imports.d.ts
  packages/vscode-sidebar/src/hooks/use-handlers.ts
  packages/vscode-sidebar/src/hooks/use-message.ts
  packages/vscode-sidebar/src/pages/vscode.vue
  packages/vscode-sidebar/src/utils/join-webview-uri.ts
  packages/vscode-sidebar/tsconfig.json
  packages/vscode-sidebar/vite.config.ts
Labels: none

feat(vscode-sidebar): 优化消息接收者兼容性处理
  packages/vscode-sidebar/src/hooks/use-handlers.ts
Labels: none
