Repository alovajs/devtools, pull requests merged in 2024-12, with the labels that each got.

#50 Feat/support character completion
  .gitignore
  packages/vscode-extension/src/commands/autocomplete.ts
  packages/vscode-extension/src/components/autocomplete.ts
  test/api-common/src/api/apiDefinitions.js
  test/api-common/src/api/createApis.js
  test/api-common/src/api/globals.d.ts
  test/api-common/src/api/index.js
  test/api-v3-ts-test/alova.config.ts
  test/api-v3-ts-test/openapi1.json
  test/api-v3-ts-test/src/api/apiDefinitions.ts
  test/api-v3-ts-test/src/api/createApis.ts
  test/api-v3-ts-test/src/api/globals.d.ts
  test/api-v3-ts-test/src/api/index.ts
  test/api-v3-ts-test/src/main.ts
Labels: vscode

#51 fix(wormhole): fix defaut values union and intersection issue
  .changeset/clean-ears-lie.md
  packages/wormhole/src/helper/typeStr.ts
  packages/wormhole/src/readConfig.ts
  packages/wormhole/test/__snapshots__/generate.spec.ts.snap
  packages/wormhole/test/defaultValues.spec.ts
  test/api-common/openapi.json
Labels: wormhole

#52 ci: release
  .changeset/clean-ears-lie.md
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/wormhole/CHANGELOG.md
Labels: wormhole, vscode
