Repository alovajs/devtools, pull requests merged in 2025-07, with the labels that each got.

#71 fix: incorrect transform data type in method without params (#731)
  .changeset/wise-aliens-design.md
  packages/wormhole/src/templates/commonjs/createApis.handlebars
  packages/wormhole/src/templates/commonjs/v3-createApis.handlebars
  packages/wormhole/src/templates/module/createApis.handlebars
  packages/wormhole/src/templates/module/v3-createApis.handlebars
  packages/wormhole/src/templates/typescript/createApis.handlebars
  packages/wormhole/src/templates/typescript/v3-createApis.handlebars
  packages/wormhole/test/__snapshots__/generate.spec.ts.snap
  pnpm-lock.yaml
  test/api-common/package.json
  test/api-js-commonjs-test/package.json
  test/api-js-test/package.json
  test/api-ts-test/package.json
  test/api-v3-js-commonjs-test/package.json
  test/api-v3-js-test/package.json
  test/api-v3-ts-test/package.json
Labels: wormhole

#72 ci: release
  .changeset/wise-aliens-design.md
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/wormhole/CHANGELOG.md
  packages/wormhole/package.json
Labels: wormhole, vscode

#73 Style/sidebar
  packages/vscode-extension/locales/en.yml
  packages/vscode-extension/locales/zh-CN.yml
  packages/vscode-extension/src/components.d.ts
  packages/vscode-extension/src/components/ApiCodeCard.vue
  packages/vscode-extension/src/components/ApiInfo.vue
  packages/vscode-extension/src/components/ApiTree.vue
  packages/vscode-extension/src/components/AppProvider.vue
  packages/vscode-extension/src/pages/api-detail.vue
  packages/vscode-extension/src/pages/api-server.vue
  packages/vscode-extension/src/styles/main.css
Labels: vscode

#74 ci: release
  .changeset/three-apes-dream.md
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/wormhole/CHANGELOG.md
  packages/wormhole/package.json
Labels: wormhole, vscode

#76 ci: release
  .changeset/two-games-bake.md
  packages/wormhole/CHANGELOG.md
  packages/wormhole/package.json
Labels: wormhole

#79 ci: release
  .changeset/tiny-hornets-reply.md
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  packages/wormhole/CHANGELOG.md
  packages/wormhole/package.json
Labels: wormhole, vscode
